.btn-outline-success:hover,
.btn-outline-success:focus {
  box-shadow: 0 0.5em 0.5em -0.4em green;
  transform: translateY(-0.25em);
}

.btn-outline-danger:hover,
.btn-outline-danger:focus {
  box-shadow: 0 0.5em 0.5em -0.4em red;
  transform: translateY(-0.25em);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
}